[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DockerParallel"]
	path = DockerParallel
	url = https://github.com/jiefei-wang/dockerparallel
[submodule "ManagedCloudProvider"]
	path = ManagedCloudProvider
	url = https://github.com/jiefei-wang/managedcloudprovider
[submodule "RedisBaseContainer"]
	path = RedisBaseContainer
	url = https://github.com/jiefei-wang/redisbasecontainer
[submodule "SharedObject"]
	path = SharedObject
	url = https://github.com/jiefei-wang/sharedobject
[submodule "Travel"]
	path = Travel
	url = https://github.com/jiefei-wang/travel
[submodule "aws.ecx"]
	path = aws.ecx
	url = https://github.com/jiefei-wang/aws.ecx
[submodule "gpuMagic"]
	path = gpuMagic
	url = https://github.com/jiefei-wang/gpumagic
